body{
    margin-left: 7vw;
    font-family: 'Times New Roman', Times, serif;
}

h1{
    margin:0;
    padding:0;
    margin-top: 60px;
    padding-bottom: 5px;
    float: left;
    font-size: 20px;
}
.email{
    padding:0;
    padding-top: 72px;
    margin:0;
    font-size: 11px;
    margin-left: 65vw;
}

.info{
    font-size: 11px;
    margin-top: 3px;
}



.headLine{
    border: 1px black;
    height: 1.5px;
    border-top: black 2px solid;
    border-bottom: black 1px solid;
    clear: both;
    margin: 0px;
    margin-right: 15vW;
}

h3{ 
    margin: 2px;
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 16px;
}

.divLine{
    margin-top: 0px;
    margin-right: 15vW;
    border-bottom: black 1px solid;
    clear: both;
}

.projectDate{
    margin: 0px;
    width: 20vw;
    float: left;
    font-size: 12px;
    font-weight: 500;
    clear: both;
}
.proj{
    margin-bottom: 5px;
    overflow: hidden;
}
.projTitle{
    margin: 0px;
    width: 50vw;
    font-size: 13px;
    font-weight: 550;
}

.prijContent{
    margin: 0px;
    margin-top: 2px;
    font-size: 11px;
    width: 40vw;
    overflow: hidden;
}

.projects{
    margin-top: 2px;
    clear: both;
    overflow: hidden;
    word-wrap: break-word;
}





.schoolName{
    font-weight: 550;
    margin: 0;
    font-size: 13px;
    float: left;
    overflow: hidden;
}
.majorName{
    clear: both;
    margin:0;
    font-size: 12px;
    margin-left: 1vw;
}
.leclistTitle{
    width: 350px;
}
.totalGPA{
    margin:0;
    padding-top: 2px;
    font-size: 10px;
    margin-left: 25vw;
}
.relevantCoursework{
    margin:0;
    font-size: 13px;
    font-weight: 550;
}
.courses{
    margin:0;
    font-size: 11px;
    margin-left: 1vw;
}



.lecTitle{
    clear: both;
    width: 300px;
    height: 14px;
    font-weight: 500;
    font-size: 13px;
    margin-top: 3px;
    margin-bottom: 1px;
}



.clubs{
    word-wrap: break-word;
    padding: 1px;
    padding-bottom: 5px;
}

.clubDate{
    font-weight: 500;
    font-size: 12px;
    width: 19.9vw;
    float: left;
    clear: both;
    margin: 0px;
}

.clubName{
    width: 40vw;
    font-size: 12px;
    overflow: hidden;
    margin:0;
}